<div class="contents row">
  <% @outputs.each do |output| %>
    
      <p><%= output.book_name%></p>
      <span class="name">
        <%# <%= tweet.name %>
      </span>
    </div>
  <% end %>
</div>