<div class="contents row">
  <% @outputs.each do |output| %>
    <%= link_to output_path(output.id), method: :get do%>
      <p><%= output.book_name%></p>
      <span class="name">
        <%= image_tag output.image.variant(resize:'300x300'), class: 'message-image' if output.image.attached?%>
      </span>
    <% end%>
  <% end %>
</div>